* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  image-rendering: -webkit-crisp-edges;
  image-rendering:    -moz-crisp-edges;
  image-rendering:         crisp-edges;
  image-rendering:           pixelated;
}

html, body {
  width: 100%;
  height: 100%;
}

.heading, .underHeading {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-family: 'Luckiest Guy', 'Roboto', sans-serif;
  font-size: 2.6rem;
}

.underHeading {
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.underHeading span {
  color: #089fd6;
  text-decoration: underline;
  cursor: pointer;
}

.floor {
  height: 30px;
  bottom: 80px;
  position: absolute;
  background-image: url(images/floor.png);
  background-size: 50px 30px;
  width: 100%;
}

.controls {
  height: 80px;
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #16d047;
}

.pet, .petBack {
  position: absolute;
  background-image: url(images/egg_happy_tr.png);
  width: 160px;
  height: 150px;
  background-size: 160px 150px;
  transform-origin: center;
  bottom: 0;
  left: 0;
}

.petBack {
  background-image: none;
  background-color: #ffd400;
  /* this clip-path is very un-neat */
  clip-path: polygon(70px 20px, 90px 20px, 90px 30px, 110px 30px,
    110px 40px, 110px 50px, 120px 60px, 120px 80px, 130px 80px, 130px 110px,
    120px 130px, 100px 140px, 60px 140px, 40px 130px, 40px 110px, 30px 110px,
    30px 80px, 40px 60px, 50px 40px, 70px 40px, 70px 20px) !important
}
